.container-padding-top {
  padding-top: 2%;
}
.nav-item {
  padding-inline: 10px;
}
.text-center {
  text-align: center;
}
.form-padding-top {
  padding-top: 20px;
}
.display-flex {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.float-right {
  float: right;
}
